---
import BaseLayout from '../layouts/BaseLayout.astro';
import CallToAction from '../components/CallToAction.astro';
import TestimonyCard from '../components/TestimonyCard.astro';
import Banner from '../components/Banner.astro';

/* ========================== */
/*           IMAGES           */
/* ========================== */
import bgTestimonios from '../assets/images/bg/bg-testimonios.webp';

import { getCollection } from 'astro:content';

// Obtenemos los testimonios
// const testimonies = await getCollection('testimonies');
const testimonials = await getCollection('testimonies');

const realTestimonials = testimonials.map((t) => t.data);

// Ordena los posts por fecha (más reciente primero)
const sortedTestimonies = testimonials.sort((a, b) => {
	return (
		new Date(b.data.date ?? 0).getTime() - new Date(a.data.date ?? 0).getTime()
	);
});
---

<BaseLayout title="Testimonios">
	<!-- ========================== -->
	<!--           Banner           -->
	<!-- ========================== -->
	<Banner
		bannerSrc={bgTestimonios}
		bannerAlt="Cuatro individuos en un sofá, interactuando a través de sus teléfonos con burbujas de conversación."
		bannerPage="Testimonios"
		bannerTitle="Testimonios"
	/>
	<!-- =========================== -->
	<!--           Content           -->
	<!-- =========================== -->
	<section
		aria-labelledby="testimonies-heading"
		id="content-section"
		class="flex flex-col gap-8 xl:gap-16"
	>
		<h2 id="testimonies-heading" class="sr-only">Opiniones y testimonios</h2>
		<h2 class="heading textShadow text-brandPrimary text-center">
			Historias de sonrisas felices
		</h2>
		<div class="flex flex-col gap-8 md:grid md:grid-cols-2 xl:grid-cols-3">
			{
				sortedTestimonies.map((testimony) => (
					<TestimonyCard testimony={testimony} />
				))
			}
		</div>
	</section>
	<!-- ================================== -->
	<!--           Call To Action           -->
	<!-- ================================== -->
	<section id="cta-section">
		<h2 id="cta-heading" class="sr-only">Llamado a la acción para contactar</h2>
		<CallToAction />
	</section>
</BaseLayout>
